body {
	margin: 0;
	padding: 0;
	background-color: #ececec;
	color: #111;
	font: 1rem 'Gotham Book Regular'; 
	line-height: 1.1em;
	width: 100%;
	max-width: 1960px;
	height: 1500px;
}
@font-face {
	font-family: "Gotham Book Regular";
    src: url("../fonts/Gotham Book Regular.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
	font-family: "GOTHAM-MEDIUM";
    src: url("../fonts/GOTHAM-MEDIUM.ttf");
    font-style: normal;
    font-weight: normal;
}

a {
	text-decoration: none;
	color: white;
}

header {
	width: 100%;
	height: 80px;
	font-size:0;
	background-color: #34495e;
	color: #fff;
}

header div {
	width: 20%;
	display: inline-block;
	height: 100%;
	top:0;
}
header >div:last-child {
	width: 20%;
}
header div i {
	height: 20px;
	color: #fff;
	width: 8%;
	position: relative;
	top:30px;
	float:left;
	font-size: 1rem;
	margin-left: 15px;
}
i:first-of-type{
	margin-left: 20px;
}
.fa {
	color: white;
	font-size: 1rem;
	vertical-align: middle;
}
.fa.fa-1_2x {
	font-size: 1.2rem;
}

.fa.fa-1_5x {
	font-size: 1.5rem;
}

header div img.logo {
	width: 120px;
	position: relative;
	top:20px;
	max-height: 45px;
	line-height: 80px;
	padding-left: 10%;
	margin:0;
	float:left;
}

header nav {
	width: 60%;
	margin: 0;
	display: inline-block;
	height: 100px;
	font-size: 1rem;
	vertical-align: top;
}
header nav  ul {
	margin: 0;
	padding: 0;
	font-size:0;
	line-height: 80px;
	width: 50%;
	margin: 0 auto;
}

nav  ul  li  {
	list-style:none;
	width: 33%;
	display: inline-block;
	font-size:1rem;
	text-align: center;
}
header nav div {
	width: 33%;
	float: left;
}
