body {
	background-color: #34495e;
	font: 1rem 'Gotham Book Regular'; 
	line-height: 1.1em;
	width: 100%;
	max-width: 1960px;
	height: 1500px;
	margin:0;
	padding:0;
	height: 1000px;
	color: #fff;
}
@font-face {
	font-family: "Gotham Book Regular";
    src: url("../fonts/Gotham Book Regular.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
a {
	text-decoration: none;
	color: white;
}
header {
	height: 80px;
	line-height: 80px;
}
header >div {
	width: 60%;
	float: left;
	height: 100%;
}
header div.back,
header  div.sign_in{
	width: 18%;
	padding-left: 2%;
	float: left;
	height: 100%;
}
header .back {
	line-height: 80px;
}
header .back div {
	float: right;
	width: 80%;
}

header .back i.fa{
	color: #fff;
	width: 5%;
	line-height: 80px;
}
header  div.sign_in {
	padding-left: 2%;
	
}
header  div.sign_in div {
	text-align: center;
	width: 100%;
	
}

header  div.sign_in div a{
	height: 30px;
	width: 60%;
	margin: 0 auto;
	display: block;
	margin-top: 25px;
	line-height: 30px;
	background: #fff;
	color: #34495e;
	min-width: 80px;
}

main {
	width: 60%;
	margin: 0 auto;
	text-align: center;
}
main aside {
	width: 30%;
	margin: 0 auto;
} 

div.logo_img{
	padding: 120px 0 50px 0;
}

img[alt="logo"]{
	width: 120px;
	height: 50px;
}

hr {
	color: #fff;
}
label, input {
	width: 100%;
	display: inline-block;
	text-align: left;
	border: none;
	background-color: #34495e;
	height: 35px;
	color: #fff;
}
input {
	font: 0.75rem 'Gotham Book Regular'; 
}
hr {
	margin-bottom: 30px;
}

button{
	font-size: 1rem;
	border: none;
	width: 100%;
	height: 40px;
	background: #fff;
	color: #34495e;
	text-align: center;
}
